{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="{{ url_for('auth_blueprint.static', filename='dist/css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="form-wrapper">
    <div class="logo">
      <img src="{{ url_for('auth_blueprint.static', filename='dist/img/logo_ratp_infra.png') }}" alt="logo"/>
    </div>

    <form method="POST" action="change_password">
      {{ form.csrf_token }}

       <fieldset class="new_password">
         {{ form.new_password.label }}
         {{ form.new_password }}
       </fieldset>

       <fieldset class="confirm_password">
         {{ form.confirm_password.label }}
         {{ form.confirm_password }}
       </fieldset>

        <div class="submit-button">
          {{ form.submit() }}
        </div>

    </form>
  </div>
{% endblock %}
